body {
    background-color: aliceblue;
}

.container {
    margin: auto;
    max-width: 600px;
}

.todoBlock {
    padding: 30px;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -9px 17px 13px rgb(0 0 0 / 16%);
}

.list {
    padding: 10px;
    border-bottom: 1px #ccc dotted;
    text-decoration: none;
    background: #eee;
}

.completed {
    text-decoration: line-through;
}

.createTodo {
    display: flex;
}

.createTodoBox {
    flex: 10;
    padding: 5px;
}

.todoSubmitBtn {
    flex: 1;
}

.editting {
    color: #000;
    background: #eee;
    border: none;
    padding: 5px 9px;
    /* border-radius: 50%; */
    cursor: pointer;
    float: right;

}

.delete {
    color: #000;
    background: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}