.image {
    width: 400px;
    height: 400px;

    /* size: cover; */
    object-fit: cover;
    /* object-fit: contain; */
    /* object-fit: scale-down; */

    /* object-position: left; */
    /* object-position: right; */
    /* object-position: top; */
    object-position: bottom;
}